<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - OW Arena    </title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
           <script type="text/javascript">
               $(document).ready(function () {
                   $("#InputPassive").click(function () {
                       $("<br>Passive Name:<div><input type='text' /></div>Passive Description: <div><textarea></textarea><br><br></div>").insertBefore($("#PassiveLabel"));
                   });
                   $("#InputWeapon").click(function () {
                       $("<br>Weapon Name:<div><input type='text' /></div>Weapon Description: <div><textarea></textarea><br><br></div>").insertBefore($("#WeaponLabel"));
                   });
                   $("#InputAbility").click(function () {
                       $("<br>Ability Name:<div><input type='text' /></div>Ability Description: <div><textarea></textarea><br><br></div>").insertBefore($("#AbilityLabel"));
                   });
                   $("#InputUltimate").click(function () {
                       $("<br>Ultimate Name:<div><input type='text' /></div>Ultimate Description: <div><textarea></textarea><br><br></div>").insertBefore($("#UltimateLabel"));
                   });
               });
            </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                   <img class="logo" src="~/Images/tmplogo.png" />
                   <img class="banner"src="~/Images/banner.png" />
                   <img class="logo" src="~/Images/tmplogo.png" />
                    
                </div>
                <div class="float-right">
                    
                    <nav>
                        <ul id="menu">

                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("input", "input", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>OverWatch is owned by blizzard.. i dont not own it!!!!!</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
